main {
  width: 100vw;
  height: 753px;
  background-color: aqua;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
}

.popProducts {
  width: 2100px;
  height: 100%;
  background-color: bisque;
}

.lineOne {
  width: 100%;
  height: auto;
  background-color: aqua;
}

.lineOne h1{
  color: #003585;
}